#presentation {
    padding: 200px 400px;
    background-color: #F1E8DF;
    flex-direction: row;
    display: flex;
    gap: 80px;

    h1{
        font-size: 50px;
        font-weight: 700;
        color: #4D0000;
    }

    h2 {
        font-size: 30px;
        color: #6B0000;
    }

    p {
        font-size: 20px;
        
    }

    .img-presentation {
   width: 200px;
   height: auto;
   border-radius: 20px;
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
}

