@use "./reset.scss";

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

    #root {
        width: 100%;
        
    }
}

h1, h2{
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

