#skills {
    background-color: #242323;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    gap: 50px;
    color: #dfd5c8;
    scroll-margin-top: 80px;

    h2 {
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
       
    }
}