#contact {
    background-color: #F1E8DF;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    gap: 50px;

    h2 {
        font-size: 40px;
        text-align: center;
        text-decoration: underline;
        color: #4D0000;
    }
}