#contact {
    background-color: #F1E8DF;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    gap: 50px;
    scroll-margin-top: 80px;

    h2 {
        font-size: 40px;
        text-align: center;
        color: #4D0000;
    }

    .contact-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        
    }

    .contact-item{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        color: #4D0000;

        a{
            text-decoration: none;
            color: #4D0000;
        }

        i{
            color: #242323;
        }
    }
}