.header {
    background-color: #242323;
    justify-content: space-between;
    display: flex;
    padding: 0 200px 0 100px;
    position: sticky;
    top: 0;

    .burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: #dfd5c8;
      border-radius: 2px;
      transition: 0.3s;
    }

    &.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    }
    &.open span:nth-child(2) {
    opacity: 0;
    }
    &.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    }
  }
   
   
}

.logo {
    display: flex;
    height: 100%;
    width: 300px;
    cursor: pointer;
}

.link {
    display: flex;
    gap: 20px;
    align-items: center;
   

    a {
        text-decoration: none;
        color: #dfd5c8;
        font-family: 'Playfair Display', serif;
        font-weight: 700; 
        cursor: pointer;
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent;
    }

    a:hover {
            color: #deb2ab;
            font-weight: bold;
        }

    a.active{
    color: #deb2ab;
    padding: 10px;
    border-bottom: 2px solid #deb2ab
    }

  
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    padding: 20px;
  

    .burger {
    display: flex;
    z-index: 20;
    margin-right: 50px;
  }
  }

 

  .logo {
    width: 200px;
    margin-bottom: 10px;
  }

  .link {
      position: absolute;
      top: 80px;
      right: 0;
      flex-direction: column;
      background-color: #242323;
      width: 100%;
      padding: 20px 0;
      gap: 20px;
      align-items: center;
      display: none;
      z-index: 30;

      &.open {
        display: flex;
      }

    a {
      font-size: 16px;
      padding: 5px;
    }
  }
}



